<footer>
    <div>
        <a href="#start-screen">
            <span>H</span>
            <span class="red">a</span>
            <span>ns</span>
        </a>
        <a routerLink="/impressum" translate>
            Imprint
        </a>
    </div>
    <span>&#169; Hans Stieber 2023</span>
    <div class="link-container">
        <div>
            <a href="https://github.com/HansStieber" target="_blank">
                <img src="../../assets/img/github.png" alt="github-logo">
            </a>
        </div>
        <div>
            <a href="#contact">
                <img src="../../assets/img/contact.png" alt="mail-logo">
            </a>
        </div>
        <div>
            <a href="https://www.linkedin.com/in/hans-stieber-587a41269/" target="_blank">
                <img src="../../assets/img/linkedin.png">
            </a>
        </div>
    </div>
</footer>