<section id="about-me" class="about-me">
    <div class="container-left">
        <div class="container-left-inner">
            <h1 data-aos="fade-right" data-aos-once="true" translate>About me</h1>
            <p data-aos="fade-right" data-aos-once="true" translate>I am a front-end developer based in Tübingen, Germany with experience in
                building web apps using JavaScript & Angular. My journey in IT began many years ago during my studies
                when I started to write simple add-on programs using Python in order to analyze spatial data using
                graphical information systems.</p>
            <div class="text-container" data-aos="fade-right" data-aos-once="true">
                <div>
                    <img class="lamp" src="../../assets/img/lamp.png" alt="lamp">
                </div>
                <p translate>That experience sparked my interest in the field, and my passion for programming has never
                    faded. Since then, I have continued to dive deeper into the world of technology and have explored
                    various programming languages and tools. Close contact with my father-in-law, a self-taught and
                    experienced web developer, has also fed my enthusiasm to become a developer myself and given me
                    important insights into the world of professional development.</p>
            </div>
            <div class="text-container" data-aos="fade-right" data-aos-once="true">
                <div>
                    <img src="../../assets/img/puzzle.png" alt="puzzle">
                </div>
                <p translate>In October 2022, I finally decided to turn professional and started an online coding
                    seminar at the Developer Akademie, a professional coding school based in Munich. It has been an
                    incredible journey thus far, filled with challenges, learning, and growth. Now, I am looking forward
                    to starting my career in IT!</p>
            </div>
        </div>
    </div>
    <div class="container-right" data-aos="fade-left" data-aos-once="true">
        <div class="img-container">
            <div class="img-inner-container">
                <img src="../../assets/img/head.png" alt="foto-head">
            </div>
        </div>
        <div class="line"></div>
    </div>
    <img class="splash-about-me" src="../../assets/img/splash-about-me.png" alt="splash">
</section>