<section id="start-screen" class="start-screen">
    <div class="introduction-container" data-aos="zoom-in" data-aos-once="true">
        <div>
            <div>
                <span class="i-am">I am</span>
            </div>
            <div class="name-container">
                <span>Hans Stieber</span>
                <span class="red">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <div class="justify-content-center">
            <a (click)="scrollToContact()">
                <button class="btn-orange" translate>Let´s talk!</button>
            </a>
        </div>
    </div>
    <img class="foto-front-splash" src="../../assets/img/splash-startscreen.png" alt="splash">
    <img class="foto-front" src="../../assets/img/character.png" alt="foto-front">
    <img class="bg-startscreen" src="../../assets/img/bg-startscreen-desktop.png" alt="background-shape">
    <img class="bg-startscreen-mobile" src="../../assets/img/bg-startscreen-mobile.png" alt="background-shape">
    <a class="scroll-down">
        <span translate>Scroll down</span>
        <img src="../../assets/img/scroll-down.png" alt="arrow">
    </a>
    <div class="socials-container">
        <div></div>
        <div>
            <a href="https://github.com/HansStieber" target="_blank">
                <img src="../../assets/img/github.png" alt="github-logo">
            </a>
            <a (click)="scrollToContact()">
                <img src="../../assets/img/contact.png" alt="mail-logo">
            </a>
            <a href="https://www.linkedin.com/in/hans-stieber-587a41269/" target="_blank">
                <img src="../../assets/img/linkedin.png">
            </a>
        </div>
        <a class="mail" href="mailto:hans.stieber@posteo.de">
            <span>hans.stieber@posteo.de</span>
        </a>
    </div>
</section>