.start-screen {
    width: 100%;
    height: calc(100vh + 110px);
    padding-top: 110px;
    margin-bottom: -110px;
    position: relative;

    @media screen and (min-height: 950px) and (min-width: 900px) {
        height: 1050px
    }
}

.bg-startscreen {
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    top: 489px;

    @media screen and (max-width: 992px) {
        display: none;
    }
}

.bg-startscreen-mobile {
    width: 100%;
    height: 700px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -70px;

    @media screen and (max-height: 900px) {
        bottom: -120px;
    }

    @media screen and (max-height: 800px) {
        bottom: -165px;
    }

    @media screen and (max-height: 700px) {
        bottom: -190px;
    }

    @media screen and (min-width: 992px) {
        display: none;
    }
}


.foto-front {
    position: absolute;
    width: 480px;
    top: 115px;
    left: 125px;

    @media screen and (max-width: 1150px) {
        top: 170px;
        width: 440px;
    }

    @media screen and (max-width: 1050px) {
        top: 195px;
        width: 420px;
        left: 100px;
    }

    @media screen and (max-width: 992px) {
        left: 0;
        right: 0;
        top: 110px;
        width: 300px;
        bottom: 450px;
        margin: auto;
    }

    @media screen and (max-height: 950px) and (max-width: 992px) {
        top: 120px;
    }

    @media screen and (max-width: 900px) {
        top: 140px;
    }

    @media screen and (max-height: 900px) and (max-width: 992px) {
        top: 200px;
    }

    @media screen and (max-width: 900px) and (min-height: 950px) {
        width: 400px;
    }

    @media screen and (max-width: 900px) and (min-height: 1100px) {
        top: 240px;
    }

    @media screen and (max-width: 900px) and (min-height: 1200px) {
        top: 340px;
    }

    @media screen and (max-width: 900px) and (min-height: 1300px) {
        top: 400px;
    }

    @media screen and (max-width: 900px) and (min-height: 1350px) {
        top: 450px;
    }

    @media screen and (max-width: 900px) and (min-height: 1400px) {
        top: 500px;
    }

    @media screen and (max-height: 800px) and (max-width: 992px) {
        width: 300px;
        top: 220px;
    }

    @media screen and (max-height: 750px) and (max-width: 992px) {
        width: 250px;
    }

    @media screen and (max-height: 700px) and (max-width: 992px) {
        width: 220px;
        top: 230px;
    }

    @media screen and (max-height: 650px) and (max-width: 992px) {
        width: 200px;
    }

    @media screen and (max-height: 600px) and (max-width: 992px) {
        width: 180px;
        top: 230px;
    }
}

.foto-front-splash {
    position: absolute;
    width: 900px;
    left: -80px;
    top: 140px;

    @media screen and (max-width: 1150px) {
        width: 800px;
        left: -60px;
    }
    top: 140px;

    @media screen and (max-width: 1050px) {
        width: 700px;
        left: -60px;
    }

    @media screen and (max-width: 992px) {
        left: 0;
        right: 0;
        bottom: 450px;
        margin: auto;
    }

    @media screen and (max-width: 700px) {
        width: 550px;
    }

    @media screen and (max-width: 450px) {
        width: 400px;
    }

    @media screen and (max-height: 800px) and (max-width: 900px) {
        top: 200px;
        width: 400px;
    }

    @media screen and (max-height: 700px) and (max-width: 900px) {
        top: 200px;
        width: 250px;
    }
}

.introduction-container {
    z-index: 9;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 297px;
    right: 100px;

    @media screen and (max-width: 992px) {
        top: unset;
        bottom: 240px;
        left: 0;
        right: 0;
        margin: auto;

        @media screen and (max-height: 800px) {
            bottom: 200px;
        }
    }

    div {
        display: flex;

        @media screen and (max-width: 992px) {
            justify-content: center;
        }
    }

    a {
        margin-top: 44px;

        @media screen and (max-height: 900px) {
            margin-top: 20px;
        }
    }
}

.name-container {
    display: flex;
    flex-direction: column;

    span:first-child {
        font-size: 90px;
        font-weight: 700;
        line-height: 120%;

        @media screen and (max-width: 1400px) {
            font-size: 72px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 64px;
        }

        @media screen and (max-width: 500px) {
            font-size: 40px;
        }

        @media screen and (max-height: 900px) and (max-width: 992px) {
            font-size: 40px;
        }
    }

    span:nth-child(2) {
        font-size: 55px;
        font-weight: 400;
        line-height: 110%;

        @media screen and (max-width: 1400px) {
            font-size: 44px;
        }

        @media screen and (max-width: 1200px) {
            font-size: 40px;
        }

        @media screen and (max-width: 500px) {
            font-size: 24px;
        }

        @media screen and (max-height: 900px) and (max-width: 992px) {
            font-size: 24px;
        }
    }
}

.i-am {
    font-size: 64px;
    font-weight: 400;
    line-height: 120%;
    transform: rotate(-90deg);
    margin: 0 -54px -5px 0;

    @media screen and (max-width: 1400px) {
        font-size: 54px;
    }

    @media screen and (max-width: 1200px) {
        font-size: 46px;
    }

    @media screen and (max-width: 500px) {
        font-size: 28px;
        margin: 0 -40px -5px 0;
    }

    @media screen and (max-height: 900px) and (max-width: 992px) {
        font-size: 28px;
        margin: 0 -40px -5px 0;
    }
}

.scroll-down {
    position: absolute;
    right: 100px;
    bottom: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    rotate: 90deg;

    @media screen and (max-width: 992px) {
        display: none;
    }

    span {
        font-size: 23px;
        color: white;
    }

    img {
        width: 16px;
        height: 16px;
        rotate: -90deg;
        margin-left: 10px;
    }
}

.socials-container {
    position: absolute;
    left: 0px;
    bottom: 160px;
    display: flex;
    align-items: center;

    @media screen and (max-height: 900px) {
        bottom: 120px;
    }

    div:first-child {
        width: 100px;
        border: 2px solid #FF4747;
        margin-right: 42px;
    }

    div:nth-child(2) {
        display: flex;
        width: 215px;
    }

    a {
        display: flex;
        align-items: center;
        height: 40px;
        margin-right: 42px;
        text-decoration: none;

        img {
            width: 30px;
            transition: all 100ms ease-in-out;

            &:hover {
                width: 40px;
                cursor: pointer;
            }
        }
    }

    span {
        font-size: 23px;
        color: white;
    }
}

@media screen and (max-width: 992px) {
    .mail {
        display: none !important;
    }
}