<section id="my-skills" class="my-skills">
    <img class="splash-my-skills" src="../../assets/img/splash-my-skills.png" alt="splash-my-skills">
    <div class="icons-container">
        <div class="icons-inner-container">
            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/angular.png">
                <span>Angular</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/typescript.png">
                <span>TypeScript</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/javascript.png">
                <span>JavaScript</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/html.png">
                <span>HTML</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/firebase.png">
                <span>Firebase</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/git.png">
                <span>Git</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/css.png">
                <span>CSS</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/scrum.png">
                <span>Scrum</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/rest-api.png">
                <span>API</span>
            </div>

            <div data-aos="zoom-in" data-aos-once="true">
                <img src="../../assets/img/material-design.png">
                <span>Material Design</span>
            </div>
        </div>
    </div>
    <div class="skill-container">
        <div class="head-skill" data-aos="fade-left" data-aos-once="true">
            <h1 translate>My skills</h1>
            <div class="line-right"></div>
        </div>
        <div class="skill-text">
            <span data-aos="fade-left" data-aos-once="true" translate>I have been able to grow my developement skills while creating various real projects. Have a look!</span>
            <a (click)="scrollToSection('contact')"><button class="btn-orange" data-aos="fade-up" data-aos-once="true" translate>Get in touch</button></a>
        </div>
    </div>
</section>